main {
  height: 70vh;
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}
.personal {
  flex: 1;
  padding: 10px;
  border: 1px solid white;
}
.pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid goldenrod;
  margin: 5px auto;
}
.user {
  text-align: center;
  margin-bottom: 15px;
}
.personal p {
  padding: 10px 20px;
  text-align: justify;
  line-height: 2;
}
.pic img {
  border-radius: 50%;
  width: 140px;
}
.paymentPanel {
  flex: 2;
  padding: 10px 20px;
  border: 1px solid white;
  display: flex;
}
.ersskFinance {
  padding: 10px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.finance,
.donations {
  background-color: white;
  color: blue;
  padding: 20px;
  font-weight: 100;
  box-shadow: 0px 0px 5px cyan, 0px 0px 10px cyan;
  border-radius: 10px;
}
